p {
    box-sizing: border-box;
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 100px;
    inline-size: 100px;
    height: 100px;
    block-size: 100px;
    background-color: orange;
}
